body {
  background-color: #fefae0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.App-header {
  background-color: #dda15e;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #283618;
}
.input-div {
  display: flex;
  position: relative;
}
button {
  border-radius: 20px;
  padding: 5px;
  border: none;
  background-color: #dda15e;
  color: #fefae0;
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
}
input {
  border-radius:20px;
  border: none;
  padding: 10px 50px 10px 20px;

}
input:focus {
  outline: none;
}